@{
    ViewData["Title"] = "Home Page";
}
@model CarPlateViewModel



<form id="myform" method="post">
     
    <div class="form-group">
        <label  asp-for="carPlate" class="control-label "> </label>
        <input asp-for="carPlate" class="form-control " />
        <span asp-validation-for="carPlate" class="text-danger"></span>
    </div>

    <input type="submit" value=" Giriş / Çıkış Yap" />

</form>