@{
    ViewData["Title"] = "Home Page";
}
@model CarPlateViewModel

@if (Model.isRecordAdded == true && Model.vehiclePlate != "" )
{
    <div class="alert alert-success" role="alert">
        @Model.vehiclePlate  plakalı araç @Model.vehicleLoginTime giriş yapmıştır...
    </div>
}
else if (Model.isRecordAdded==false && Model.errorMessage != "")
{
    <div class="alert alert-danger" role="alert">
        @Model.errorMessage
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        @Model.errorMessage
    </div>
}

<form id="myform" method="post">
     
    <div class="input-group">
        
        <div class="input-group-prepend">
            <span class="input-group-text">Plaka giriniz</span>
        </div>
        <input asp-for="CarPlateProperties.carPlateCityArea" placeholder="Şehir kodu" type="number"  class="form-control">
        <input asp-for="CarPlateProperties.carPlateTextArea" placeholder="Harf kodu" type="text"  class="form-control">
        <input asp-for="CarPlateProperties.carPlateNumberArea" placeholder="Sayı kodu" type="number"  class="form-control">

    </div>
    <br/>
    <input type="submit" value=" Giriş / Çıkış Yap" />
     
  

</form>

 