@model otopark.UI.Models.PayModelView

@{
    ViewData["Title"] = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Araç Çıkış Ekranı</h1>
<hr />

<h4>Ödeme bilgileri aşağıdadır </h4>
<hr />

    <div class=" table-responsive">
        <table class="table table-striped">
           
            <tbody>
            <tr>
                <th scope="row"> <label  asp-for="Plate" class="control-label "> </label></th>
                <td>  <input asp-for="Plate" class="form-control " disabled="disabled" /> </td>
            </tr>
            <tr>
                <th scope="row"> <label  asp-for="LoginTime" class="control-label "> </label></th>
                <td>  <input asp-for="LoginTime" class="form-control " disabled="disabled" />  </td>
            </tr>
            <tr>
                <th scope="row"> <label  asp-for="ExitTime" class="control-label "> </label></th>
                <td>  <input asp-for="ExitTime" class="form-control " disabled="disabled" />  </td>
            </tr>
            <tr>
                <th scope="row"> <label  asp-for="Duration" class="control-label "> </label></th>
                <td>  <input asp-for="Duration" class="form-control " disabled="disabled" />  </td>
            </tr>
            <tr>
                <th scope="row"> <label  asp-for="Price" class="control-label "> </label></th>
                <td>  <input asp-for="Price" class="form-control " disabled="disabled" />  </td>
            </tr>
            <tr>
                <th ></th>
                <td> 
                    <a href="/Home/Pay/@Model.vehiclheId"  type="submit"  class="btn btn-success"> ONAYLA  </a>

                </td>
              
            </tr>
            </tbody>
        </table>

    </div>
     

 