@model otopark.UI.Models.LoginViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<h1>Otopark Giriş Çıkış</h1>
<h3>Lütfen işlem yapmak istediğiniz plakayı giriniz...</h3>
<div>
    <h4>Plaka:</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Index">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
